* {
    margin: 0;
    padding: 0;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 40%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: ##23232e;
    height: 8vh;
}

main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover ;
    height: 92vh;
}

.nave-lista {
    list-style: none;
    display: flex;
}

.nave-lista li{
    letter-spacing: 3px;
    margin-left: 32px;
    
}

.menu-movel {
    display: none;
    cursor: pointer;
}
    
.menu-movel div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.25s;
}

@media (min-width: 0px) {
    body {
        overflow-x: hidden;
    }
    .nave-lista {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background: #131318;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.315s ease-in;
    }
    .nave-lista li {
        margin-left: 0;
        opacity: 0;
    }
    .menu-movel {
        display: block;
    }
}
.nave-lista.active {
    transform: translateX(0);
}

@keyframes naveLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.menu-movel.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}
.menu-movel.active .linha2 {
    opacity: 0;
}
.menu-movel.active .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);

}
